body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid green;
}
.appTitle h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.listInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid blue;
}
.listToComplete {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.toDoInput {
  border: 2px solid red;
}

.itemCompleted {
  text-decoration: line-through;
}
